html>body .contentBlock {
	height: auto;
}

.contentBlock {
	height: 100%;
	min-height: 100%;
}

a {
	color: black;
}

a:hover {
	color: lightgrey;
}

#main {
	height: 100%;
	padding-bottom: 7%;
	width: 100%;
	overflow: hidden;
	position: relative;
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../quartatVideo.gif);
}

#main h1 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: white;
	opacity: 1;
	font-weight: 200;
	font-size: 160px;
	margin-bottom: -10px;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	text-align: center;
	padding-top: 15%;
}

#main h2 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: white;
	opacity: 1;
	font-weight: 200;
	font-size: 50px;
	padding-bottom: 5%;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	text-align: center;
}

.btnQuartat {
	background-color: white;
	color: black;
	border: 1px solid #fff;
	width: 30%;
	font-size: 20px;
	border-radius: 30px;
	margin: 2%;
}

.navQuartat {
	background-color: white;
	height: 30px;
}

.navQuartat a {
	color: #999;
	font-weight: 700;
	font-size: 16px;
}

.quartatLogo {
	width: 40px;
	padding-top: 3px;
}

@media(max-width: 420px) {
	#main {
		height: 100%;
	padding-bottom: 7%;
	}
	#main h1 {
		font-size: 60px;
		padding-top: 70%;
	}
	#main h2 {
		font-size: 18px;
		padding-bottom: 10%;
	}
	.btnQuartat {
		background-color: white;
		font-size: 12px;
		width: 70%;
	}
	.quartatLogo {
		padding-top: 2%;
	}
}

.powerBlock {
	height: auto;
	background-color: #1d1d1d;
	padding: 10% 5%;
	color: #f4f4f4;
}

.powerBlock h1 {
	font-weight: 200;
	font-size: 45px;
}

.powerBlock h2 {
	font-size: 40px;
}

#styleBlock {
	background-color: white;
	color: #999;
	padding: 7% 0;
}

#styleBlock h1 {
	font-weight: 200;
	font-size: 50px
}

#styleBlock h2 {
	font-weight: 200;
	font-size: 40px;
}

#styleBlock p {
	font-size: 16px;
	padding-left: 15%;
	padding-right: 15%;
}

.serviceImage {
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	transition-property: filter;
	transition-duration: 2s;
	-webkit-transition: -webkit-filter 500ms linear;
}

.serviceImage:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

.services {
	margin-top: 5%;
	position: relative;
}

.rootsBlock {
	height: 800px;
	width: 100%;
	background-image: url(../images/image1.JPG);
	background-color: #eeeeee;
	padding-top: 5%;
	color: white;
	background-size: cover;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.rootsBlock h1 {
	font-weight: 200;
	font-size: 50px;
}

.rootsBlock p {
	font-size: 16px;
}

.classicBlock {
	height: 800px;
	width: 100%;
	background-color: #eeeeee;
	background-size: cover;
	background-image: url(../images/IMG_7739.jpg);
	padding-top: 5%;
	color: white;
}

.classicBlock h1 {
	font-weight: 200;
	font-size: 50px;
}

.classicBlock p {
	font-size: 16px;
}

@media(max-width: 420px) {
	.rootsBlock {
		height: 500px;
		padding-top: 30%;
	}
	.rootsBlock h1 {
		font-size: 24px;
	}
	.rootsBlock p {
		font-size: 14px;
	}
	.classicBlock {
		height: 500px;
		padding-top: 30%;
	}
	.classicBlock h1 {
		font-size: 24px;
	}
	.classicBlock p {
		font-size: 14px;
	}
}

.minorBlock {
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
		padding: 5%;
}

.minorBlock h1{
	font-size: 60px;
	font-weight: 200;
}	

.minorBlock hr{
	border-top:1px solid #E1E1E1;
}

.minorBlock p{
	font-size: 18px;
}

.storyBlock {
	color: white;
	height: 100%;
	padding-bottom: 5%;
	width: 100%;
	z-index: -1;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 10%;
}

.storyBlock h1 {
	font-weight: 700;
	text-align: center;
	color: white;
	font-size: 100px
}

.storyBlock h2 {
	font-weight: 200;
	text-align: center;
	color: white;
	font-size: 60px
}

#storyBG1 {
	background-image: url(../images/Photo/photo1.jpeg);
}

#storyBG2 {
    background-image: url(../images/Photo/photo2.jpeg);
}

#storyBG3 {
    background-image: url(../images/Photo//photo3.jpg);
}

.footer {
	width: 100%;
	background: black;
	color: white;
	padding: 5%;
}

@media(max-width: 420px) {
	.footer p {
		font-size: 12px;
		line-height: 8px;
	}
}