body{
	font-family: 'Lato', sans-serif;
}

a {
	color: black;
}

a:hover {
	color: lightgrey;
}

.quartatDivider{
	width: 70px;
	height: 10px;
	background: #9e0b0f;
}

.arrow-white{
	color:white;
	top:0;
  -webkit-transition: padding-top 0.5s;
	transition: padding-top 0.5s;
}

.arrow-white:hover{
	padding-top:15px;
}

#main {
	font-family: 'Lato', sans-serif;
	background: url(../images/bg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding: 17% 0;
}

#main h1 {
	text-transform: uppercase;
	color: black;
	font-weight: 400;
	font-size: 100px;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	margin-top: 0;
}

#main h2 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: black;
	opacity: 1;
	font-weight: 300;
	font-size: 40px;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.btnQuartat {
	background-color: white;
	color: black;
	border: 1px solid #fff;
	width: 30%;
	font-size: 20px;
	border-radius: 30px;
	margin: 2%;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;

}

.btnQuartat:hover{
	opacity: 0.5;
}

.btnInfo{
	color: black;
	border: 0.5px solid grey;
	background-color:white;
	width:50%;
	font-size:20px;
	border-radius: 30px;
	margin: 2%;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.btnInfo:hover{
	opacity: 0.5;
}

.navQuartat {
	background-color: white;
	height: 30px;
	border-color: white;
}

.navQuartat a {
	color: #999;
	font-weight: 700;
	font-size: 16px;
}

.quartatLogo {
	width: 40px;
	padding-top: 3px;
}

@media(max-width: 420px) {
	#main h1 {
		font-size: 40px;
		text-align: center;
	}
	#main h2 {
		font-size: 16px;
		text-align: center;
	}
	.btnQuartat {
		background-color: white;
		font-size: 12px;
		width: 70%;
	}
	.quartatLogo {
		padding-top: 2%;
	}

	#main .quartatDivider{
		display:block;
		margin-right:auto;
		margin-left:auto;
	}
}

.powerBlock {
	height: auto;
	background: url(../images/dividerbg.png);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding: 5% 5%;
	color: #f4f4f4;
}

.powerBlock h1 {
	font-weight: 200;
	font-size: 45px;
}

.powerBlock h2 {
	font-size: 40px;
}

.powerBlock p{
	font-size: 22px;
	padding: 5% 0;
}


.serviceBlockContent{
	padding-top: 5%;
}

.serviceBlock_white {
	background-color: white;
	padding: 7% 0;
}

.serviceBlock_white h1 {
	font-weight: 400;
	font-size: 60px
}

.serviceBlock_white h2 {
	font-weight: 200;
	font-size: 40px;
}

.serviceBlock_white p {
	font-size: 16px;
	padding: 5% 0;
}

.serviceBlock_grey {
	background-color: #dfe4e9;
	padding: 7% 0;
}

.serviceBlock_grey h1 {
	font-weight: 400;
	font-size: 60px
}

.serviceBlock_grey h2 {
	font-weight: 200;
	font-size: 40px;
}

.serviceBlock_grey p {
	font-size: 16px;
	padding: 8% 0;
}

@media(max-width: 420px) {
	.serviceBlock_white h1{
		font-size: 30px;
	}
	.serviceBlock_white h2{
		font-size: 20px;
	}
	.serviceBlock_white p{
		font-size: 14px;
	}
	.serviceBlock_grey h1{
		font-size: 30px;
	}
	.serviceBlock_grey h2{
		font-size: 20px;
	}
	.serviceBlock_grey p{
		font-size: 14px;
	}
}

.outboundBlock{
	height: 600px;
	width: 100%;
	background: url(../images/OutboundBG.png);
	background-color: #eeeeee;
	padding-top: 5%;
	color: white;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.outboundBlock h1 {
	font-weight: 200;
	font-size: 70px;
}

.outboundBlock p {
	font-size: 22px;
	padding: 5% 0;
}

@media(max-width: 420px) {
	.outboundBlock h1{
		font-size:45px;
	}
	.outboundBlock p{
		font-size: 18px;
	}
}

.inboundBlock{
	height: 600px;
	width: 100%;
	background: url(../images/inboundbg.png);
	background-color: #eeeeee;
	padding-top: 5%;
	color: white;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.inboundBlock h1 {
	font-weight: 200;
	font-size: 70px;
}

.inboundBlock p {
	font-size: 22px;
	padding: 5% 0;	
}

.inboundBlock .quartatDivider{
		margin-left:87%;
	}

@media(max-width: 420px) {
	.inboundBlock h1{
		font-size:45px;
	}
	.inboundBlock p{
		font-size: 18px;
	}

	.inboundBlock .quartatDivider{
		margin-left:73%;
	}
}

.minorBlock {
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
    padding: 5% 0 5% 0;
}

.minorBlock h1{
	font-size: 50px;
	font-weight: 200;
}

.minorBlock h4{
	font-size: 24px;
	font-weight: 400;
}

.minorBlock p{
	font-size: 18px;
	font-weight:200;
}

@media(max-width:420px){
	.minorBlock h1{
		font-size: 20px;
		font-weight: 200;
		text-align: center;
	}

	.minorBlock h4{
		font-size: 24px;
		font-weight: 400;
		text-align: center;
	}

	.minorBlock p{
		font-size: 16px;
		font-weight:200;
		text-align: center;
	}

	.minorBlock .quartatDivider{
		display:block;
		margin-right:auto;
		margin-left:auto;
	}
}

.storyBlock {
	color: white;
	height: 100%;
	padding-bottom: 5%;
	width: 100%;
	background-size: cover;
	padding-top: 5%;
	background-image: url(../images/sectionBG.png);
}

.storyBlock h1 {
	font-weight: 700;
	text-align: center;
	color: white;
	font-size: 100px
}

.storyBlock h2 {
	font-weight: 200;
	text-align: center;
	color: white;
	font-size: 60px
}

@media(max-width: 420px){
	.storyBlock{
		padding-top: 15%;
	}
	.storyBlock h1 {
	font-size: 30px;
	}
	.storyBlock h2 {
		font-size: 30px;
		padding: 5%;
	}
}

.footer {
	width: 100%;
	background: black;
	color: white;
	padding: 2%;
}

@media(max-width: 420px) {
	.footer p {
		font-size: 12px;
		line-height: 8px;
	}
}
